playwright
beautifulsoup4
lxml>=4.9.1
asf-ipc
json5
peewee
packaging
apprise
schedule
steam[client]
requests
praw
epicstore_api
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability